<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Health Tracker App</title>

  <link rel="stylesheet" href="assets/index.css">

</head>

<body>

  <section id="tracker-app" class="container">

    <header id="header">
      <h1>Health Tracker</h1>
      <input id="new-food-item" placeholder="What food are you searching for? Press enter to start search">
      <div class="loading">
        <img id="loading" src="img/ajax-loader.gif" alt="loading indicator">
      </div>
      <ul id="search-results"></ul>
    </header>

    <section id="main">
      <ul id="food-list"></ul>
    </section>

    <footer id="footer">
      <p id="total-calories"><strong>Total Calories: <span id="calorie-count"></span></strong><p>
      <p>Health Tracker Application
      <p>Created by Ruben Vazquez
    </footer>

  </section>

  <script type="text/template" id="result-template">
    <div class="result-view">
      <label><%= name %> , <%= calorieCount %></label>
    </div>
  </script>

  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/backbone-min.js"></script>
  <script src="js/lib/backbone.localStorage.js"></script>

  <script src="js/models/food-item.js"></script>
  <script src="js/models/search-result.js"></script>
  <script src="js/collections/food.js"></script>
  <script src="js/collections/results.js"></script>
  <script src="js/views/app.js"></script>
  <script src="js/views/result.js"></script>
  <script src="js/views/foodv.js"></script>
  <script src="js/app.js"></script>

</body>
</html>