.container {
	width: 80%;
	background-color: #00c;
	margin: auto;
}

#header {
	width: 80%;
	text-align: center;
	margin: auto;
	background-color: #c00;
	color: #fff;
	padding: 1em;
}

input {
	width: 80%;
	text-align: center;
}

ul#search-results {
	list-style-type: none;
	text-align: center;
	padding: 0;
}

li div {
	padding: 1em;
	cursor: pointer;
	width: 80%;
	margin: auto;
}

li:hover {
	background-color: white;
	color: black;
}

ul#food-list {
	list-style-type: none;
	text-align: center;
	padding: 0;
	color: black;
	background-color: #ccc;
}


#footer {
	color: white;
	text-align: center;
	padding: 1em;
}